<div class="subsection">
	<div class="left_align">
		<h4 class="project_title"><%= project.title %></h4>
		<h5 class="project_subtitle"><%= project.subtitle %></h5>
		<hr />
		<p class="project_description"><%= project.description %>
			<% if user_verified? %>
			<br />
			<span class="editing_controls">
				<a class="edit nolink" href=<%= "/projects/#{project.id}/edit" %>>Edit</a>
				 | 
				 <a class="delete nolink" href=<%= "/projects/#{project.id}/delete" %>>Delete</a>
			</span>
			<% end %>
		</p>
	</div>
	<div class="right_align">
		<div id="slider_container_<%= project.id %>" style="position: relative; top: 0px; left: 0px; width: 445px; height: 391px; background-color:black;" data-project-id="<%= project.id %>">
			<div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 445px; height: 391px;">
				<% images = project.images.split(',') %>
				<% images.each do |i| %>
					<div><img u="image" src=<%= "#{i}" %> /></div>
				<% end %>
			</div>
			<%= render 'project/slider_arrow' %>
		</div>
	</div>
</div>