<% provide(:title, "Editing #{@project.title}") %>
	<h2 class="title">Edititng <%= @project.title %></h2>
	<div class="content">
		<%= form_for(@project) do |f| %>
			<p><%= f.label :title %><%= f.text_field :title %></p>
			<p><%= f.label :subtitle %><%= f.text_field :subtitle %></p>
			<p><%= f.label :description %><br />
			<%= f.text_area :description, size: "75x12" %></p>
			<p>For the images, place the urls of the images as a single string without spaces, separated by commas.</p>
			<p><%= f.label :images %><%= f.text_field :images %></p>
			<p>For videos, place the YouTube id of the video in a single string without spaces, separated by commas.</p>
			<p><%= f.label :videos %><%= f.text_field :videos %></p>
			<select id="project_section" name="project[section]" type="text">
				<option <% if @project.section=="design" %>selected<% end %> value="design">3D Design</option>
				<option <% if @project.section=="art" %>selected<% end %> value="art">Digital Art</option>
				<option <% if @project.section=="effects" %>selected<% end %> value="effects">Visual Effects</option>
			</select></p>
			<%= f.submit "Submit" %>
		<% end %>
	</div>