<% provide(:title,"Projects") %>
<div class="project_header">
	<h2>Projects</h2>
	<p>Anson is really good at making stuff.</p>
</div>
<div class="section">
<h3 name="design">3D Design</h3>
<% @design.each do |project| %>
<div class="subsection">
	<h4 class="project_title"><%= project.title %></h4>
	<p class="project_description"><%= project.description %></p>
	<p>Images go here</p>
</div>
<% end %>
</div>
<div class="section">
<h3 name="art">Digital Art</h3>
<% @art.each do |project| %>
<div class="subsection">
	<h4 class="project_title"><%= project.title %></h4>
	<p class="project_description"><%= project.description %></p>
	<p>Images go here</p>
</div>
<% end %>
</div>
<div class="section">
<h3 name="effects">Visual Effects</h3>
<% @effects.each do |project| %>
<div class="subsection">
	<h4 class="project_title"><%= project.title %></h4>
	<p class="project_description"><%= project.description %></p>
	<p>Images go here</p>
</div>
<% end %>
</div>