<% provide(:title, @project.title) %>
<div class="subsection">
	<div class="left_align">
		<h4 class="project_title"><%= @project.title %></h4>
		<h5 class="project_subtitle"><%= @project.subtitle %></h5>
		<hr />
		<p class="project_description"><%= @project.description %><br />
			<span class="editing_controls">
				<a class="edit nolink" href=<%= "/projects/#{@project.id}/edit" %>>Edit</a>
				 | 
				 <a class="delete nolink" href=<%= "/projects/#{@project.id}/delete" %>>Delete</a>
			</span>
		</p>
	</div>
	<div class="right_align">
		<div class="photo_gallery">
			<ul>
				<li><img src="<%= @project.images %>" /></li>
			</ul>
		</div>
	</div>
</div>